@model SistemaWebMisRecetas.Models.Receta

@{
    ViewData["Title"] = "Detalle receta";
}

<section>
    <h2>Detalles de: @Model.Titulo</h2>
    <article>
        <p>
            @Html.DisplayNameFor(model => model.Categoria): 
            @Html.DisplayFor(model => model.Categoria)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Ingredientes): 
            @Html.DisplayFor(model => model.Ingredientes)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Instrucciones): 
            @Html.DisplayFor(model => model.Instrucciones)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Autor.Nombre): 
            @Html.DisplayFor(model => model.Autor.Nombre)
        </p>
    </article>
</section>
@section SideBar{
    <aside class="aside">
        <h4>@Html.ActionLink("Editar Receta", "Edit", "Receta", new {id = @Model.Id})</h4>
        <h4>@Html.ActionLink("Eliminar receta", "Delete", "Receta", new {id = @Model.Id})</h4>
         <h4>@Html.ActionLink("Volver", "Index", "Receta")</h4>

    </aside>
}


